<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet"  type="text/css" href="/styles/add_wagon.css">
    <title>Add Wagon</title>
</head>

<!-- Header -->
<header class="header">
    <div class="header-container">
        <div class="logo">
            DabDepo
        </div>
        <nav class="nav">
            <a href="/" class="nav-link">Главная</a>
            <a href="/wagons" class="nav-link">Вагоны</a>
        </nav>
    </div>
</header>

<body>
<form class="edit-wagon-form" th:action="@{/add}" method="post">
    <table class="wagons-table">
        <thead>
        <tr>
            <th class="table-header">Тип</th>
            <th class="table-header">Процент загрузки</th>
            <th class="table-header">Серийный номер</th>
            <th class="table-header">Станция приписки</th>
            <th class="table-header">Грузоподъемность</th>
            <th class="table-header">Год выпуска</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="table-data"><input type="text" name="wagonType" required></td>
            <td class="table-data"><input type="number" name="loadingPercentage" required></td>
            <td class="table-data"><input type="number" name="serialNumber" required></td>
            <td class="table-data"><input type="text" name="homeStation" required></td>
            <td class="table-data"><input type="number" name="loadCapacity" required></td>
            <td class="table-data"><input type="number" name="yearOfRelease" required></td>
            <td class="table-change">
                <button type="submit">Добавить</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
