/* Global Styles */
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header */

.header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: white;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Table */

.wagons-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.table-header {
    font-weight: 700;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}

.table-data {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.table-data:hover {
    background-color: #f2f2f2;

}

.table-change{
    padding: 10px;
    text-align: center;
}

/* Buttons */

.add-btn {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.add-btn:hover {
    background-color: #3e8e41;
}

.edit-btn, .delete-btn {
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.edit-btn:hover, .delete-btn:hover {
    color: #777;
}
